*.iml
.gradle
.gradle/
local.properties
.DS_Store
captures
.externalNativeBuild
.idea/
bin/
build/
gen/
generated/
generated_tests/
target/
gen-external-apklibs/
*.jar
*.apk
*.debug
*.db
*.orig
*.DS_Store
*.class
*.map
.classpath
crashlytics-build.properties
*.ignored
src/main/res/values/com_crashlytics_export_strings.xml
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*